
#footer{

    padding: 0;
    background-color:rgb(25, 171, 17);
    overflow: hidden;
    position: relative;
    

    .row .col-auto, .row .col{
        z-index: 2;
    }
    .leaf_1{
        position: absolute;
        right: 100px;
        bottom: 0;
        transform: scale(1.7);
        z-index: 1;
    }

    a, p{
        color: #ffffff;
        font-size:1.2em;
    }

    .listTitle{
        margin-bottom: 0px;
        padding-bottom: 5px;
        font-weight: bold;
        
    }

    .information{
        border-bottom: #ffffff solid 1px;
        margin-top: 40px;
        margin-bottom: 15px;

        margin-left: 50px;
        margin-right: 50px;
        
        display: flex;
        justify-content: space-between;
            *{
                padding: 0;
            }

    }

    li{
        padding-bottom: 5px;
    }

    .mediaBox{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
    }

}

@media only screen and (max-width: 650px) {
    .information{
        visibility: hidden;
        opacity: 0%;
        width: 0;
        height: 0;

    }
  }
