$enable-shadows: true;
@use "sass:meta";

$primary : rgb(25, 171, 17);
:root {
    --bs-primary:#{$primary};
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


a{
    text-decoration:none;
}

p{
    color: #8C8C8C;
}

.regionTitle h2{
    
    font-size:2.5em;
    text-align: center;
    color: #8C8C8C;
   

}
.schedule-item{
    padding-inline: 7%;
}