.AddRemoveButton{
    border: none;
    outline: none;
    box-shadow: none;

    transition: 0.5s;

    
    .boxImg{
        transition: 0.5s;
        width: 32px;
        img{
            width: 100%;
        }
    }

}

.plusButton{
    transform: rotate(0deg);
}

.XButton{
    transform: rotate(45deg);
}

.arrowButton{
    position: absolute;
    top: 24px;
    left: 24px;
    width: 17px;
    padding: 0;

    outline: none;
    border: none;
    box-shadow: none;

    img{
        width: 100%;
    }

}

@media only screen and (min-width: 900px) {
    .arrowButton{
      display: none;
    }
}