nav.navbar {
  display: flex !important;
  justify-content: start !important;
  background-color: #19ab11;
  overflow: hidden;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 0; }
  nav.navbar .container-fluid {
    padding: 10px 20px 10px 20px; }
  nav.navbar .navbar-toggler {
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
    transition: 0.5s; }
  nav.navbar .navbar-toggler:visited span {
    transform: rotate(-90deg); }
  nav.navbar .brand {
    display: flex;
    justify-content: start;
    align-items: center; }
    nav.navbar .brand p {
      margin: 0;
      padding-left: 5px;
      font-size: 1.5em;
      color: white; }
    nav.navbar .brand img {
      width: 40px; }
  nav.navbar .navbar-collapse {
    position: relative; }
    nav.navbar .navbar-collapse form {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 20px; }
      nav.navbar .navbar-collapse form .form-control {
        width: 100%;
        border: none;
        background: none;
        box-shadow: none;
        font-size: 1.2em; }
      nav.navbar .navbar-collapse form button {
        border: none;
        outline: none !important;
        box-shadow: none !important; }
      nav.navbar .navbar-collapse form img {
        width: 80%; }
  nav.navbar li a {
    color: white;
    text-align: center;
    font-size: 1.2em; }
  nav.navbar li a:hover {
    background-color: #058f05; }
  nav.navbar .userButtons {
    margin-top: 10px;
    width: 5%;
    justify-content: end; }
  nav.navbar .userButtons ul {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    nav.navbar .userButtons ul li {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: baseline;
      text-align: center; }
      nav.navbar .userButtons ul li button {
        outline: none;
        box-shadow: none;
        border: none; }
      nav.navbar .userButtons ul li p {
        width: 0%;
        color: white;
        margin: 0;
        font-size: 1.2em;
        visibility: hidden;
        opacity: 0%; }
  nav.navbar .userButton {
    width: 100%;
    height: 50px; }
    nav.navbar .userButton img {
      height: 100%; }

.icon-bar {
  height: 5px; }

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  nav.navbar form {
    width: 50%;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0%, -50%); } }
@media only screen and (max-width: 767px) {
  nav.navbar form {
    width: 100%;
    position: relative; }

  nav.navbar .userButtons ul {
    width: 100%; }
    nav.navbar .userButtons ul li {
      width: 50%;
      display: flex;
      justify-content: start;
      align-items: baseline;
      text-align: center; }
      nav.navbar .userButtons ul li p {
        padding: 0px 10px 0px 10px;
        opacity: 100%;
        visibility: visible;
        width: auto; }
      nav.navbar .userButtons ul li button {
        width: 50%; } }

/*# sourceMappingURL=navbar.css.map */
